* {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 3.125rem;
}

p {
    font-size: 1.875rem;
}

li {
    font-size: 1.875rem;
}


/* Site menu */

#header-nav-menu {
    background: white;
    display: block;
    left: 60%;
    height: 100vh;
    position: fixed;
    text-align: right;
    visibility: hidden;
    width: 40%;
    z-index: 9;
}

#header-nav-menu a {
    text-align: right;
    text-decoration: none;
}

#header-nav-menu ul {
    line-height: 2;
    list-style: none;
}

#header-nav-menu .container {
    padding: 15% !important;
}

.beautiful-switch {
    flex-direction: row;
}

.beautiful-switch div {
    flex: 1;
}

.beautiful-switch dd {
    border-left-color: #D0D0D0;
    border-left-style: solid;
    border-left-width: 4px;
    padding: 0 1.125em;
}

.beautiful-switch dt {
    padding: 10px;
}

.beautiful-switch dl,
.beautiful-switch dt,
.beautiful-switch dd {
    font-size: 1.375em;
    line-height: 3;
}

body {
    margin: 0;
}

.container {
    padding: 10% 15%;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container div {
    flex: 1;
}

.header {
    position: relative;
}

.header-content {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    left: 0;
    margin: 5%;
    position: absolute;
    top: 0;
    width: 90%;
}

.header,
.header-img {
    height: 100vh;
    width: 100%;
}

.header-img {
    object-fit: cover;
}

.header-logo * {
    color: black;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.header-title {
    padding: 10px;
}

.header-logo a {
    font-size: 20pt;
}

.header-nav {
    text-align: right;
}

.header-nav a {
    padding: 5px;
}

.hero {
    background: #6E57FD;
    color: white;
}

.icon img {
    height: 16px;
    width: 16px;
}

.link a {
    color: #D0D0D0;
    text-decoration: none;
}

.link-active a {
    color: #6E57FD;
}

.link-active-dd {
    border-left-color: #6E57FD !important;
}

.underline:after {
    content: '';
    display: block;
    width: 120px;
    height: 5px;
    background-color: black;
    margin-top: 10px;
}

@media ( max-width: 800px) {
    html {
        font-size: 0.5rem;
    }
    .container {
        padding: 10% 5%;
    }
    .beautiful-switch dl,
    .beautiful-switch dt,
    .beautiful-switch dd {
        line-height: 2;
    }
    .ambassadors-program-img-caption {
        left: 10% !important;
        top: 5% !important;
        width: 80% !important;
    }
    .sub-btn {
        padding-top: 10%;
    }
    .beautiful-switch,
    .footer {
        flex-direction: column !important;
    }
    .footer a {
        font-size: 2rem;
    }
    .parent {
        display: flex !important;
        flex-direction: column;
    }
    .parent .div2 {
        margin: 0 !important;
    }
}

.parent {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.parent .div2 {
    margin-left: -26.5%;
}

.div1 {
    grid-area: 1 / 2 / 3 / 3;
}

.div2 {
    grid-area: 1 / 1 / 2 / 2;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
    height: auto;
}

.img-responsive {
    height: auto;
    width: 100%;
}

.quotation {
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 4px;
    font-style: italic;
    margin: 5% 0;
    padding: 0 5%;
}

.quotation p {
    margin: 0;
    font-size: 2.875rem;
}

.ambassadors-program-img {
    position: relative;
}

.ambassadors-program-img-caption {
    position: absolute;
    top: 15%;
    left: 55%;
    width: 35%;
    display: grid;
    grid-template-columns: auto auto;
}

.ambassadors-program-img-caption p {
    margin: 0;
}

.ambassadors-program-img-caption img {
    width: 32px;
    height: 32px;
    padding: 5px 20px;
}

.btn {
    margin-top: 10%;
}

.btn a {
    border: 3px solid black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px 65px;
}

.sub {
    background-color: #6E57FD;
    color: white;
}

.sub div {
    text-align: center;
}

.sub-btn {
    margin-top: 10%;
}

.sub-btn a {
    border: none;
    color: #6E57FD;
    background-color: white;
    font-size: 2.375rem;
    text-decoration: none;
    padding: 25px 80px;
}

.flex-col-1 {
    flex: 1;
}

.flex-col-2 {
    flex: 2;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #6E57FD;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}